
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

:root {
  --font: "Avenir", sans-serif;
  --font2: "Montserrat", sans-serif;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/AvenirNextCyr-Regular.ttf");
  font-weight: 400;
  font-size: 16px;
}

@font-face {
  font-family: "Avenir";
  src: url('../fonts/AvenirNextCyr-Medium.ttf');
  font-weight: 500;
  font-size: 16px;
}

@font-face {
  font-family: "Avenir";
  src: url('../fonts/AvenirNextCyr-Demi.ttf');
  font-weight: 600;
  font-size: 20px;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Medium.ttf');
  font-weight: 500;
  font-size: 16;
}

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/ofont.ru_Montserrat.ttf');
  font-weight: 600;
  font-size: 36px;
}

@font-face {
  font-family: "Avenir";
  src: url('../fonts/AvenirNextCyr-Bold.ttf');
  font-weight: 700;
  font-size: 20px;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100%;
  background: linear-gradient(to right, #53269D, #6D31D0);
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 calc(50% - 600px);

}

.menu__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 14px;
}

.item__link {
  color: #FFF;
  font: 500 16px/1.4 var(--font);
  text-transform: uppercase;
}

.header__logo {
  width: 120px;
  height: 80px;
}

.header__link {
  width: 180px;
  height: 48px;
  background-color: #FFDB80;
  color: #6D31D0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 600 20px/32px var(--font);
}

.menu__btn {
  background-image: url('../img/menu.svg');
  width: 40px;
  height: 30px;
  border: transparent;
  background-color: transparent;
  display: none;
}

.main__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 calc(50% - 560px) 0px;
  width: 100%;
  height: 800px;
  background-image: url('../img/picture_home1.png');
  background-size: cover;
  background-position:20% 100%;
  background-repeat: no-repeat;
}

.side__buttons {
   position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 100;
}

.content__wrapper {
  margin-top: 130px;
  grid-column: 1;
  max-width: 100%;
}

.content__info {
  max-width: 564px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.type__wrapper {
  width: 100%; /* Адаптивная ширина */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.info__type {
  width: max-content;
  font: 500 16px/1 var(--font2);
  padding: 0 5px;
  text-transform: uppercase;
  color: #FFDB80;
  background-color: #6D31D080;
  opacity: 0.7;
  border-radius: 10px;
}

.divider, .footer__divider {
  color: #fff;
  width: 2px;
}

.info__head {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.info__title {
  font: 600 36px/40px var(--font2);
  color: #fff;
}

.info__subtitle {
  font: 600 20px/32px var(--font2);
  color: #FFF;
}

.info__desc {
  font: 400 16px/24px var(--font);
  color: #fff;
  letter-spacing: 0.5px;
}

.info__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 48px;
  background: linear-gradient(to right, #FFEB80, #FDBFA3);
  color: #6D31D0;
  font: 600 20px/32px var(--font2);
  border-radius: 88.17px;
}

.cities {
  margin-top: 78px;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 0;
}

.cities__title {
  font: 600 20px/32px var(--font2);
  color: #fff;
  text-align: left; 
  margin-left: 0; 
  padding-left: 0; 
  width: 100%;
}

.cities__cards {
  display: flex;
  justify-content: space-between;
  gap: 0 40px;
  flex-wrap: wrap;
}

.cards__item {
  width: 144px;
  height: 180px;
  border-radius: 12px;
  padding: 10px 7.5px 15px 7.5px;
  background-color: #fff;
  font: 600 20px/32px var(--font2);
  color: #828CDE;
}

.cards__photo {
  width: 129px;
  height: 123px;
}

.cards__country {
  width: 143px;
  height: 22px;
  margin-top: 10px;
}

.side__buttons {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 10;
}

.buttons__item {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
}

.buttons__item:focus {
  background-color: #fff;
  transform: scale(1.7);
}

.services {
  width: 100%;
  background: linear-gradient(#828CDE, #6D31D0);
  padding: 80px calc(50% - 590px);
}

.services__title {
  margin: 0 auto;
  text-align: center;
  font: 600 36px/40px var(--font);
  text-transform: uppercase;
  color: #fff;
  width: 380px;
  height: 50px;
  border-bottom: 4px solid #FDBFA3;
}

.services__items {
  margin-top: 60px;
  max-width: 1180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  flex-wrap: wrap; /* Адаптивность */
  margin-left: auto;
  margin-right: auto;
}

.items__card {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  background-color: #fff;
  padding-bottom: 20px;
}

.items__photo {
  width: 380px;
  height: 260px;
}

.items__title {
  font: 600 28px/32px var(--font);
  color: #585779;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.items__desc {
  width: 320px;
  margin: 0 auto;
  text-align: center;
  font: 400 16px/24px var(--font);
}

.moving {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.moving__text {
  width: 480px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 33px;
  margin: 106px 0;
}

.text__title {
  font: 600 40px/29px var(--font);
  text-transform: uppercase;
  text-align: center;
  color: #434364;
}

.text__desc {
  font: 400 16px/24px var(--font);
  text-align: center;
  color: #434364;
}

.moving__photo {
  width: 410px;
  height: 500px;
  max-width: 100%;
}

.photo__wrapper {
  max-width: 410px;
  width: 100%;
}

.photo__wrapper:nth-of-type(3)::before {
  content: "";
  width: 80px;
  height: 500px;
  opacity: 0.5;
  background-color: #FFF;
  position: absolute;
}

.photo__wrapper:nth-of-type(1)::after {
  content: "";
  width: 80px;
  height: 500px;
  opacity: 0.5;
  background-color: #FFF;
  position: absolute;
  left: 330px;
}

.advantages {
  padding: 80px calc(50% - 590px);
  background: linear-gradient(#FEFC9E, #FDBFA3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.advantages__head {
  max-width: 580px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.head__title {
  font: 600 36px/40px var(--font);
  text-transform: uppercase;
  text-align: center;
  color: #585779;
}

.head__desc {
  font: 400 16px/24px var(--font);
  text-align: center;
}

.advantages__block {
  max-width: 1180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.block__item {
  max-width: 280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0 20px;
  align-items: center;
}

.block__title, .block__desc {
  text-align: center;
}

.block__title {
  font: 600 20px/32px var(--font2);
  color: #6D31D0;
}

.block__desc {
  font: 400 16px/24px var(--font);
  letter-spacing: 0.5;
  color: #434364;
}

.founder {
  background: linear-gradient(#828CDE, #6D31D0);
  padding: 41px calc(50% - 590px) 31px;
  display: flex;
  justify-content: space-between;
}

.founder__company {
  max-width: 480px;
  width: 100%;
  margin-top: 33px;
}

.founder__title {
  font: 600 36px/40px var(--font);
  text-transform: uppercase;
  padding-bottom: 10px;
  color: #fff;
  position: relative;
  border-bottom: 4px solid #FDBFA3;
}

.company__info {
  font: 400 16px/24px var(--font);
  color: #fff;
  margin-top: 24px;
}

.company__info:nth-child(2) {
  margin-bottom: 54px;
}

.company__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 48px;
  background-color:#FFDB80;
  color: #6D31D0;
  font: 600 20px/32px var(--font2);
  border-radius: 88.17px;
}

.founder__personal {
  max-width: 580px;
  width: 100%;
  padding: 20px 46px 20px 20px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  opacity: 0.8;
  box-shadow: 0 14px 10px 0;
}

.personal__photo {
  width: 280px;
  height: 400px;
}

.personal__rank {
  font: 600 20px/32px var(--font2);
  color: #6D31D0;
  margin: 44px 134px 15px 20px;
  display: block;
}

.personal__name {
  font: 400 16px/24px var(--font);
  margin: 0 0 17px 0;
  display: block;
}

.contact__link {
  width: 147px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFDB80;
  border-radius: 24.47px;
  font: 600 18px/1.2 var(--font2);
}

.personal__wrapper {
  padding-left: 33px;
}

.approach {
  background: linear-gradient(#FEFC9E, #FDBFA3);
  padding: 80px calc(50% - 590px);
  display: flex;
  flex-direction: column;
  gap: 0 60px;
}

.approach__title {
  font: 600 36px/40px var(--font);
  color: #434364;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
}

.approach__strategy {
  max-width: 1180px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  margin-top: 60px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.strategy__item {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.strategy__photo {
  width: 120px;
  height: 120px;
}

.strategy__title {
  font: 600 20px/32px var(--font2);
  color: #6D31D0;
  text-align: center;
}

.strategy__desc {
  font: 400 16px/24px var(--font);
  letter-spacing: 0.5px;
  color: #434364;
  text-align: center;
}

.contact {
  height: 1120px;
  padding: 80px calc(50% - 590px);
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  background: linear-gradient(to bottom, #6D31D01A 10%, #6D31D036 21%, #6D31D079 47.5%, #6D31D0);
}

.contact__title {
  font: 600 36px/40px var(--font);
  color: #434364;
  text-transform: uppercase;
  text-align: center;
  width: 380px;
  height: 50px;
  padding-bottom: 20px;
  border-bottom: 4px solid #FDBFA3;
}

.contact__info {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.info__phone, .info__email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.phone__photo, .email__photo {
  width: 40px;
  height: 40px;
}

.phone__number, .email__address {
  font: 600 20px/32px var(--font2);
  color: #6D31D0;
}

.contact__inquiry {
  max-width: 1180px;
  width: 100%;
  height: 100%;
  background: rgba(255, 219, 128, 0.5);
  border-radius: 60px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  padding: 34px 300px;
}

.inquiry__title {
  font: 600 28px/32px var(--font);
  color: #434364;
  text-align: center;
  text-transform: uppercase;
}

.inquiry__form {
  max-width: 580px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 14px 20px;
}

.form__name, .form__email, .form__subject, .form__number {
  width: 280px;
  height: 47px;
  border-radius: 20px;
  background-color: #fff;
  padding-left: 23px;
  border: none;
}

.user-message {
  max-height: 200px;
  height: 100%;
  max-width: 580px;
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 18px 23px 18px 23px;
}

#form__checkbox {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.form__terms {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0 24px;
  max-width: 580px;
  width: 100%;
  font: 400 16px/24px var(--font);
  letter-spacing: 0.5px;
}


.form__submit {
  width: 138px;
  height: 60px;
  border-radius: 30px;
  border: none;
  background-color: #FFDB80;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6D31D0;
  font: 700 20px/1.2 var(--font);
  margin: 32px auto;
}

.partners {
  width: 100%;
  padding: 80px calc(50% - 590px);
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.partners__title {
  font: 600 36px/40px var(--font);
  color: #434364;
  text-transform: uppercase;
}

.partners__logo {
  max-width: 1180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.logo__photo {
  width: 180px;
  height: 66px;
}

.faq {
  background: linear-gradient(to bottom, #6D31D0, #828CDE);
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding: 80px calc(50% - 590px);
}

.faq__title {
  font: 600 36px/40px var(--font);
  color: #fff;
  text-transform: uppercase;
}

.faq__questions {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
  flex-wrap: wrap;
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.questions__item {
  max-width: 380px;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  border-radius: 20px;
  padding-bottom: 45px;
 >.questions__title , .questions__desc {
  padding: 0 30px;
 }
}

.faq__photo {
  width: 380px;
  height: 200px;
}

.questions__title {
  font: 600 20px/32px var(--font2);
  color: #6D31D0;
}

.questions__desc {
  font: 400 16px/24px var(--font);
  color: #434364;
}

.faq__buttons {
  width: 92px;
  display: flex;
  justify-content: space-between;
  gap: 0 4px;
}

.footer {
  width: 100%;
  background-color: #828CDE;
  border-top: 1px dashed #6D31D0;
  padding: 37px calc(50% - 286px);
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  max-width: 1180px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.footer__info {
  font: 400 16px/24px var(--font);
  color: #fff;
}

@media (max-width:1220px) {
  .header {
    padding:0 calc(50% - 390px) 0;
    display: grid;
    grid-template-columns: 100px 1fr 180px 40px;;
    align-items: center;
    column-gap: 60px;
  }
  .menu__list{
    display: none;
  }

  .menu__btn {
    display: block;
   }
  .main__content{
  padding: 0px calc(50% - 390px) 10px;

  }

  .services__items{
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
  }
  .moving {
    gap:0 20px;
  }
  .photo__wrapper{
    width: 240px;
    height: 290px;
  }
  .photo__wrapper:nth-of-type(3)::before{
    display: none;
  }
  .photo__wrapper:nth-of-type(1)::after{
    display: none;
  }
  .moving__photo {
    width: 240px;
    height: 290px;
  }

  .faq__questions {
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
  }

  .advantages__block,.approach__strategy {
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    justify-items: center; 
    gap: 20px; 
    margin: 0 auto; 
    max-width: 600px; 
  }
  .contact {
    padding: 80px calc(50% - 300px);
  }

  .contact__inquiry {
    padding: 35px 10px 34px 10px;
  }

  .partners__logo{
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media(max-width:1000px) {

  .main__content {
    height: 100%;
  }

  .content__wrapper  {
    margin-top: 100px;
    display:flex;
    flex-direction: column;
    gap: 130px;
    >.cities {
      margin-top: 0;
    }


  }
 .founder {
  flex-direction: column;
  align-items: left;
  gap: 44px;
  padding-left: 110px;
 }

 .side__buttons {
  right: 13%;
 }

 .partners {
  padding: 80px calc(50% - 390px );
  flex-wrap: wrap;
 }

 .partners__logo {
  justify-content: center;
  gap:60px 20px;
 }
}

@media(max-width:768px) {
  .header {
    padding:0 calc(50% - 285px) 0;
  }

  .main__content {
    padding: 0px calc(50% - 285px) 10px;
  }

  .cities__title {
    position: relative;
    right: 30px;
  }

  .cities  {
    align-items: center;
  }
 
  .cities__cards {
    flex-wrap: nowrap;
    gap: 20px;
  }

  .items__card {
    max-width: 580px;
    width: 100%;
  }

  .items__photo {
    max-width: 580px;
    width: 100%;
  }

  

  .moving {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:0 0;
  }

  .moving__text {
    margin: 0;
    padding: 40px 0;
  }

  .photo__wrapper{
    max-width: 768px;
    width: 100%;}
  .moving__photo {
    width: 100%;
    object-fit: none;
    object-position: center; 
     
    }

    .advantages__head {
      margin: 0 auto;
    }
  
    .founder {
      padding: 65px calc(50% - 290px);
    }
  
    .founder__title {
      text-align: center;
      
    }
  
    .founder__title::after {
     max-width: 600px;
     width: 100%;
     left: 40px;
    }
  
  
    .approach__strategy {
      max-width: 380px;
      width: 100%;
      gap:85px 20px;
    }
  
    .strategy__item{
      width: 180px;
    }
  
    .faq__questions {
      justify-content:center;
      flex-wrap:nowrap;
      gap:0 4px;
    }
  
    .questions__item {
      max-width: 360px;
      width: 100%;
    }
  
    .faq__photo {
      width: 360px;
    }
  
  .faq__questions .questions__item:nth-child(3) {
    display: none; 
  }

  .faq__buttons {
    width: 140px;
  }

  .footer {
    padding: 37px calc(50% - 159px);
  }

  .footer__wrapper {
    gap: 10px;
    justify-content: center;
  }

  .footer__wrapper span:nth-child(2) {
    display: none;
  }
  
  }

 
