* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root{
    --font:"Open Sans",sans-serif;
    
}
@font-face {
    font-family: "Open Sans";
    src: url("../fonts/static/OpenSans-Regular.ttf") format(ttf);
    font-weight: 400;
    font-size: 17px;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/static/OpenSans-SemiBold.ttf") format(ttf);
    font-weight: 600;
    font-size: 40px;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/static/OpenSans-Bold.ttf") format(ttf);
    font-weight: 700;
    font-size: 24px;
}

.title {
    width: 805px;
    text-align: center;
    padding-bottom: 30px;
    margin: 100px 397.5px 60px 397.5px;
    font:700 40px/1.4 var(--font);
    color:#333333;
}

.people {
    width: 1017px;
    height: 738px;
    margin: 0 291.5px 100px 291.5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:120px;
   

   
}

.people__card {
    max-width: 235px;
    max-height: 330px;
    display:inline-block;
}

.people__name {
    max-width: 235px;
    font:700 24px/1.4 var(--font);
    color:#194F94;

}

.people__rank {
    max-width: 215px;
    font: 400 17px/1.5 var(--font);
    color:#5F5F5F;
}